# PRATICA INDEPENDENTE - Limpeza de dados - Solução.


### Utilizando o arquivo "`sales.csv`" responda às seguintes questões:

In [20]:
import pandas as pd
import numpy as np

#### Exercício 1: Carregá-lo em um dataframe e inspecionar os tipos de dados.

In [21]:
sales = pd.read_csv('sales.csv')

In [22]:
sales.head(100)
#sales.shape

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714467,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714468,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spika,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,john Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,john Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kubde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [23]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Account   17 non-null     int64
 1   Name      17 non-null     object
 2   Rep       17 non-null     object
 3   Manager   17 non-null     object
 4   Product   17 non-null     object
 5   Quantity  17 non-null     int64
 6   Price     17 non-null     int64
 7   Status    17 non-null     object
dtypes: int64(3), object(5)
memory usage: 1.2+ KB

#### Exercício 2: Supondo que descobrimos que todos os valores da coluna 1 estão incorretos e que deveríamos somar 1 unidade a cada um deles. Utilizar `df.apply()` para adicionar essa quantidade aos valores.

In [24]:
sales["Account"] = sales["Account"].apply(lambda x: x + 1)
sales

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714467,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714468,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714469,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737551,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146833,Kiehn-Spika,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218896,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218896,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412291,Jerde-Hilpert,john Smith,Debra Henley,Maintenance,2,5000,pending
8,740151,Barton LLC,john Smith,Debra Henley,CPU,1,35000,declined
9,141963,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163417,Purdy-Kubde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239345,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239345,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307600,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688982,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729834,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729834,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

#### Exercício 3: Mudar todos os valores da coluna `price` maiores do que `50000` para `NaN`. Realize a contagem dos elementos da coluna `Account`  e depois agrupe o dataframe pelo atributo `Manager`.

In [25]:
sales["Price"] = sales["Price"].apply(lambda x: np.nan if x > 50000 else x)

In [26]:
sales.head(10)

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714467,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000.0,presented
1,714468,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000.0,presented
2,714469,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000.0,pending
3,737551,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000.0,declined
4,146833,Kiehn-Spika,Daniel Hilton,Debra Henley,CPU,2,NaN,won
5,218896,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000.0,pending
6,218896,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000.0,presented
7,412291,Jerde-Hilpert,john Smith,Debra Henley,Maintenance,2,5000.0,pending
8,740151,Barton LLC,john Smith,Debra Henley,CPU,1,35000.0,declined
9,141963,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,NaN,won

In [27]:
pd.value_counts(sales["Account"])

218896    2
729834    2
239345    2
163417    1
740151    1
307600    1
146833    1
737551    1
412291    1
141963    1
688982    1
714469    1
714468    1
714467    1
Name: Account, dtype: int64

In [28]:
sales.groupby(by = 'Manager')
sales

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714467,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000.0,presented
1,714468,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000.0,presented
2,714469,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000.0,pending
3,737551,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000.0,declined
4,146833,Kiehn-Spika,Daniel Hilton,Debra Henley,CPU,2,NaN,won
5,218896,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000.0,pending
6,218896,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000.0,presented
7,412291,Jerde-Hilpert,john Smith,Debra Henley,Maintenance,2,5000.0,pending
8,740151,Barton LLC,john Smith,Debra Henley,CPU,1,35000.0,declined
9,141963,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,NaN,won
10,163417,Purdy-Kubde,Cedric Moss,Fred Anderson,CPU,1,30000.0,presented
11,239345,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000.0,pending
12,239345,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000.0,presented
13,307600,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000.0,won
14,688982,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,NaN,won
15,729834,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,NaN,declined
16,729834,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000.0,presented

#### Exercício 4: Na coluna `Status` substitua as expressões `won` por `finalized`.  Depois realize uma contagem, usando o método `.value_counts()`, para cada uma das colunas do dataset.

In [29]:
#sales.head()
sales.columns

Index(['Account', 'Name', 'Rep', 'Manager', 'Product', 'Quantity', 'Price',
       'Status'],
      dtype='object')

In [30]:
sales["Status"] = sales["Status"].apply(lambda x: 'finalized' if x == 'won' else x)
sales

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714467,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000.0,presented
1,714468,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000.0,presented
2,714469,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000.0,pending
3,737551,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000.0,declined
4,146833,Kiehn-Spika,Daniel Hilton,Debra Henley,CPU,2,NaN,finalized
5,218896,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000.0,pending
6,218896,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000.0,presented
7,412291,Jerde-Hilpert,john Smith,Debra Henley,Maintenance,2,5000.0,pending
8,740151,Barton LLC,john Smith,Debra Henley,CPU,1,35000.0,declined
9,141963,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,NaN,finalized
10,163417,Purdy-Kubde,Cedric Moss,Fred Anderson,CPU,1,30000.0,presented
11,239345,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000.0,pending
12,239345,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000.0,presented
13,307600,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000.0,finalized
14,688982,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,NaN,finalized
15,729834,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,NaN,declined
16,729834,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000.0,presented

In [31]:
for column in sales.columns:
    print ("---- %s ---" % column)
    print (sales[column].value_counts())

---- Account ---
218896    2
729834    2
239345    2
163417    1
740151    1
307600    1
146833    1
737551    1
412291    1
141963    1
688982    1
714469    1
714468    1
714467    1
Name: Account, dtype: int64
---- Name ---
Trantow-Barrows                 3
Stokes LLC                      2
Kulas Inc                       2
Koepp Ltd                       2
Kassulke, Ondricka and Metz     1
Kiehn-Spika                     1
Fritsch, Russel and Anderson    1
Herman LLC                      1
Keeling LLC                     1
Purdy-Kubde                     1
Barton LLC                      1
Jerde-Hilpert                   1
Name: Name, dtype: int64
---- Rep ---
Wendy Yule       4
Cedric Moss      4
Craig Booker     4
Daniel Hilton    3
john Smith       2
Name: Rep, dtype: int64
---- Manager ---
Debra Henley     9
Fred Anderson    8
Name: Manager, dtype: int64
---- Product ---
CPU            9
Maintenance    4
Software       3
Monitor        1
Name: Product, dtype: int64
---- Quantity ---
1    8
2    7
5    1
3    1
Name: Quantity, dtype: int64
---- Price ---
5000.0     4
10000.0    3
35000.0    2
30000.0    2
7000.0     1
40000.0    1
Name: Price, dtype: int64
---- Status ---
presented    6
pending      4
finalized    4
declined     3
Name: Status, dtype: int64

### Agora utilizando o arquivo "`googleplaystore.csv`" realize os seguintes exercícios:

In [32]:
googleplaystore = pd.read_csv('googleplaystore.csv', index_col = 0)
googleplaystore.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Current Ver,Android Ver
App,,,,,,,,,,,
Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,1.0.0,4.0.3 and up
Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,2.0.0,4.0.3 and up
"U Launcher Lite – FREE Live Cool Themes, Hide Apps",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,1.2.4,4.0.3 and up
Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,Varies with device,4.2 and up
Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,1.1,4.4 and up

In [33]:
googleplaystore.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10841 entries, Photo Editor & Candy Camera & Grid & ScrapBook to iHoroscope - 2018 Daily Horoscope & Astrology
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        10841 non-null  object
 1   Rating          9367 non-null   float64
 2   Reviews         10841 non-null  object
 3   Size            10841 non-null  object
 4   Installs        10841 non-null  object
 5   Type            10840 non-null  object
 6   Price           10841 non-null  object
 7   Content Rating  10840 non-null  object
 8   Genres          10841 non-null  object
 9   Current Ver     10833 non-null  object
 10  Android Ver     10838 non-null  object
dtypes: float64(1), object(10)
memory usage: 1016.3+ KB

#### Exercício 5: Realize o tratamento dos atributos começando por `price`, utilize a função [`str.replace`](https://docs.python.org/2/library/stdtypes.html?highlight=replace#str.replace) para subistituir os valores que não fazem sentido nesse atributo.

In [34]:
googleplaystore['Price'].unique() 
googleplaystore['Price'] = googleplaystore['Price'].str.replace('Everyone', 'nan')
googleplaystore['Price'] = googleplaystore['Price'].str.replace('$','')
googleplaystore['Price'] = googleplaystore['Price'].astype(float)
googleplaystore['Price'].unique()

array([  0.  ,   4.99,   3.99,   6.99,   1.49,   2.99,   7.99,   5.99,
         3.49,   1.99,   9.99,   7.49,   0.99,   9.  ,   5.49,  10.  ,
        24.99,  11.99,  79.99,  16.99,  14.99,   1.  ,  29.99,  12.99,
         2.49,  10.99,   1.5 ,  19.99,  15.99,  33.99,  74.99,  39.99,
         3.95,   4.49,   1.7 ,   8.99,   2.  ,   3.88,  25.99, 399.99,
        17.99, 400.  ,   3.02,   1.76,   4.84,   4.77,   1.61,   2.5 ,
         1.59,   6.49,   1.29,   5.  ,  13.99, 299.99, 379.99,  37.99,
        18.99, 389.99,  19.9 ,   8.49,   1.75,  14.  ,   4.85,  46.99,
       109.99, 154.99,   3.08,   2.59,   4.8 ,   1.96,  19.4 ,   3.9 ,
         4.59,  15.46,   3.04,   4.29,   2.6 ,   3.28,   4.6 ,  28.99,
         2.95,   2.9 ,   1.97, 200.  ,  89.99,   2.56,  30.99,   3.61,
       394.99,   1.26,    nan,   1.2 ,   1.04])

#### Exercício 6: Em seguida cheque os valores para `Reviews`, convertendo-o de `str` para `int`.

In [35]:
googleplaystore['Reviews'] = googleplaystore['Reviews'].str.replace('3.0M', '3')
googleplaystore['Reviews'] = googleplaystore['Reviews'].astype(int)
#googleplaystore['Reviews'].unique()
googleplaystore.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10841 entries, Photo Editor & Candy Camera & Grid & ScrapBook to iHoroscope - 2018 Daily Horoscope & Astrology
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        10841 non-null  object
 1   Rating          9367 non-null   float64
 2   Reviews         10841 non-null  int64
 3   Size            10841 non-null  object
 4   Installs        10841 non-null  object
 5   Type            10840 non-null  object
 6   Price           10840 non-null  float64
 7   Content Rating  10840 non-null  object
 8   Genres          10841 non-null  object
 9   Current Ver     10833 non-null  object
 10  Android Ver     10838 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 1016.3+ KB

#### Exercício 7: Agora, complete os valores `na` com a média de cada coluna e agrupe o dataframe resultante por `category`.

In [38]:
googleplaystore.fillna(googleplaystore.groupby('Category').transform('mean'))

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Current Ver,Android Ver
App,,,,,,,,,,,
Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.100000,159,19M,"10,000+",Free,0.0,Everyone,Art & Design,1.0.0,4.0.3 and up
Coloring book moana,ART_AND_DESIGN,3.900000,967,14M,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,2.0.0,4.0.3 and up
"U Launcher Lite – FREE Live Cool Themes, Hide Apps",ART_AND_DESIGN,4.700000,87510,8.7M,"5,000,000+",Free,0.0,Everyone,Art & Design,1.2.4,4.0.3 and up
Sketch - Draw & Paint,ART_AND_DESIGN,4.500000,215644,25M,"50,000,000+",Free,0.0,Teen,Art & Design,Varies with device,4.2 and up
Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.300000,967,2.8M,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...
Sya9a Maroc - FR,FAMILY,4.500000,38,53M,"5,000+",Free,0.0,Everyone,Education,1.48,4.1 and up
Fr. Mike Schmitz Audio Teachings,FAMILY,5.000000,4,3.6M,100+,Free,0.0,Everyone,Education,1.0,4.1 and up
Parkinson Exercices FR,MEDICAL,4.189143,3,9.5M,"1,000+",Free,0.0,Everyone,Medical,1.0,2.2 and up
The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.500000,114,Varies with device,"1,000+",Free,0.0,Mature 17+,Books & Reference,Varies with device,Varies with device
iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.500000,398307,19M,"10,000,000+",Free,0.0,Everyone,Lifestyle,Varies with device,Varies with device