# Nessa aula vamos discutir a base dos comando do python

1 - Vamos começar trabalhando manipulando algumas variáveis

In [77]:
import pandas as pd

In [16]:
# podemos definir uma variável dando um nome para ela, da seguinte maneira
age = 30

In [17]:
type(age)

int

In [18]:
# podemos imprimir o valor da variável, como?
print(age)

30

In [19]:
# podemos também imprimir a variável sem dar nome a ela
print(30)

30

In [20]:
#Porém quando temos uma variável com nome, temos a grande vantagem de poder mudar seu valor:
age = 30
print(age)
age = 40
print(age)

30
40

### Boas práticas em relação ao definirmos nomes de variáveis

In [21]:
#nomes compostos de variáveis são separados por _ , esse padrão é conhecido como: snake_case in Python
#nomes não podem começar com números, porém podem conter números
#se duas variáveis forém mudar de valores sempre usar letras minusculas 
# Para fazer quebra de linha usa  \ (barra invertida)

friend_age = 23
countries_visited = 90 #\
#muito bom

In [22]:
# Se sua variável tiver um valor fixo escrever em letras maiusculas 

PI = 3.14159
RADIANS_TO_DEGREES = 180 / PI

In [23]:
RADIANS_TO_DEGREES

57.295827908797776

### Vamos falar de números?

In [24]:
#vamos ter dois tipos de número em python

age = 35  # integer
PI = 3.14159  # float

In [25]:
## adicionar o conceito de definição de variáveis

### Operações Matemáticas

In [26]:
# Nada de especial acontece

maths_operation = 1 + 3 * 4 / 2 - 2
print(maths_operation)

5.0

In [27]:
# se eu tenho apenas números inteiros porque o resultado foi um float?
# https://www.tutorialspoint.com/python/python_variable_types.htm

In [28]:
# resultado da divisão é sempre um float

float_division = 12 / 3
print(float_division)

4.0

In [29]:
##E a multiplicação?
##E se somarmos um inteiro com um float?

In [30]:
# pode pegar somente a parte inteira da divisão
integer_division = 12 // 3  # não é um tipo de arredondamento
print(integer_division)

4

In [31]:
#alguém poderia explicar o camando a seguir?
remainder = 12 % 5
print(remainder)

2

In [32]:
x = 37
remainder = x % 2
print(remainder)

1

In [33]:
# Em quais situações esse tipo de comando nos ajuda?

### Variáveis podem ser palavras? Frases?

In [34]:
my_string = "Hello, world!"
single_quote_string = 'Hello, world!'

In [35]:
str = 'Hello World!'

print (str)          # imprimi a string completa
print (str[0])       # imprimi o primeiro caracter da string
print (str[2:5])     # imprimi do terceiro ao quinto caracter
print (str[2:])      # imprimi os caracteres a partir do terceiro
print (str * 2)      # imprimi a string duas vezes

Hello World!
H
llo
llo World!
Hello World!Hello World!

In [36]:
string_with_quotes = "Hello, it's me."
another_with_quotes = 'He said "You are amazing!" yesterday.'

In [37]:
multiline = """Hello, world.

My name is Jose. Welcome to my program.
"""
## Vocẽs podem imprimir para ver como fica?

In [38]:
# como juntar palavras formar frases?
# por que esse procedimento é tão importante? no trabalho do dia a dia
name = " Jose"
greeting = "Hello, " + name

In [39]:
# é possível juntar número com uma palavra? 
age = str(34)
age = "You are " + age + name
print(age)

TypeError: 'str' object is not callable

In [ ]:
#sempre será necessário fazer a converter um número para string?
age = 34
another_greeting = f"I am {age}"
print(another_greeting)

In [ ]:
#tem alguma maneira diferente de fazer isso?
age = 999
another_greeting = "I am {}".format(age)
print(another_greeting)

In [ ]:
# atualizar o valor de age?
age = 78
print(another_greeting)

In [ ]:
# Tem como solucionar esse problema?
another_greeting = "I am {age}, I'm {name}"
final_greeting = another_greeting.format(age = 204, name = "Patricia")
print(final_greeting)

### Quem sabe um pouco de interação

#### my_name = "Elis"
your_name = input("Enter your name: ")

print(f"Hello {your_name}. My name is {my_name}.")

In [ ]:
age = int(input("Enter your age: "))
print(f"You have lived for {age * 12} months.")

In [ ]:
## Para brincar um pouco, calcule a quantidade de segundos aõ invés de meses

In [ ]:
age = int(input("Enter your age: "))
print(f"You have lived for {age * 36000} segundos.")

### Já tivemos um primeiro contato com as variáveis, agora podemos fazer algumas comparações?

In [ ]:
## Vamos ver os sinais de comparação mais importantes

# A == B  (vamos verificar se A é igual a B)
# A > B (vamos verificar se A é maior que B)
# A < B (vamos verificar se B é maior que A)
# A >= B (vamos verificar se A é maior ou igual a B)
# A != B (Vamos verificar se A é diferente de B)

In [ ]:
# o comparativo vale palavras também?
# vamos comparar a variável my_name com a variável name 
name = "ele"

# vamos fazer um print condicional?
if name == my_name:
    print (name)
else:
    print("Nome nao existe")

### E se for necessário utilizar multiplas condições?

In [ ]:
name = "EliS"
name_2 = "Elis"
name_3 = "ElIs"

# or = a ação será executada se alguma condição for satisfeita 
# and = a ação será executada se todas condições forem satisfeitas 

# vamos fazer um print condicional?
if name == my_name or name_3 == my_name or name_2 == my_name:
    print (name)

In [ ]:
# vamos fazer um print condicional?
if name == my_name and name_3 == my_name and name_2 == my_name:
    print (name)

### E se em uma aplicação for necessário ter 1000 nomes, vamos ter que definir 1000 variáveis?

In [ ]:
# qual a melhor maneira?

#maneira 1:
friend1 = "Rolf"
friend2 = "Bob"
friend3 = "Anne"

#maneira 2
friend = ["Rolf", "Anne", "Bob"]

In [ ]:
#imprimir elementos de uma lista
# o primeiro elemento da lista é localizado pelo index 0, index = localizador
print (friend[0])

In [ ]:
#comprimento de uma lista
len(friend)

In [ ]:
#valor máximo contido em uma lista
max(friend)

In [ ]:
#valor minimo contido em uma lista
min (friend)

In [ ]:
# uma das grandes vantagens de usar é o fato de poder adicionar ou remover elementos
# vamos adicionar novos elementos usamos .append()
friend.append(str(3))
print (friend)

In [ ]:
# Como localizar algum elemento específico utilizando o .index()?
friend.index('Anne')

In [ ]:
# é considerada boa prática fazer listas com apenas um tipo de informação
# ou seja, adicionar o número 3 (mesmo que em formato de string) na lista friend, não é considerado uam boa prática

In [ ]:
#vamos remover
friend.remove(3)

In [ ]:
#vamos trabalhar com uma lista de números agora  - Lista de numeros aleatorios 1 a 100
import random
lista_teste = random.sample(range(1, 100), 10)
sum(lista_teste)

In [ ]:
len(lista_teste)

In [ ]:
lista_teste

### Que tal adiconarmos uma coisa diferente, chamada 'for loop'!!

In [ ]:
for i in range (0, len(friend)):
    print (friend[i])

In [ ]:
for amigo in friend:
    print(amigo)

In [ ]:
#podemos fazer um loop duplo?
idade = [12, 14, 10]

for i in range (0, len(friend)):
    for j in range (0, len(idade)):
        print (friend[i], ' ', idade[j])

### Podemos fazer uma lista de listas

In [2]:
#
friends = [["Rolf", 24], ["Bob", 30], ["Anne", 27]]
print(friends[0][1])  # 24
print(friends[1][0])  # Bob

24
Bob

In [3]:
# tem como remover apenas 'Rolf'?
friends[0].remove('Rolf')
friends

[[24], ['Bob', 30], ['Anne', 27]]

In [ ]:
# como faço para adicionar uma nova lista em uma lista de listas?

### Já ouviu falar em tuples?

In [ ]:
#como definimos taples?
# inicialmente o conceito de tuple é muito similar à lista, porém não é possível adicionar ou remover elementos 

amigos_novos = ('João', 'Lindomar')

In [ ]:
# tenta esse teste aí 
amigos_novos.remove('João')

In [ ]:
#porque trabalhamos com tuples?

## Primeiro desafio do curso!

1. Vocês terão 15 minutos para essa tarefa 
2. Serão dadas duas listas e vocês terão que retornar uma lista com os elementos comuns em ambas listas. 
3. Na lista final não deve haver elementos repetidos
4. As listas são:
    1. lista1 = [1, 100, 23, 40, 23, 50, 50, 49, 50]
    2. lista2 = [30, 50, 80, 70, 40, 40, 34, 32, 40, 50]

In [28]:
lista1 = [1, 100, 23, 40, 23, 50, 50, 49, 50]
lista2 = [30, 50, 80, 70, 40, 40, 34, 32, 40, 50]

In [29]:
lista1.extend(lista2)

In [30]:
lista1

[1, 100, 23, 40, 23, 50, 50, 49, 50, 30, 50, 80, 70, 40, 40, 34, 32, 40, 50]

In [35]:
conjunto = set(lista1)

In [36]:
conjunto

{1, 23, 30, 32, 34, 40, 49, 50, 70, 80, 100}

In [3]:
set_lista1 = set(lista1)
set_lista2 = set(lista2)
set_lista1.intersection(set_lista2)

{40, 50}

In [7]:
set_lista1

{1, 23, 40, 49, 50, 100}

In [39]:
# usando o for para criar a lista nova sem numeros repetidos

lista1 = [1, 100, 23, 40, 23, 50, 50, 49, 50]
lista2 = [30, 50, 80, 70, 40, 40, 34, 32, 40, 50]
lista3 = []

for elementoListas in lista1:
    if elementoListas in lista2 and elementoListas not in lista3:

        lista3.append(elementoListas)
lista3

[40, 50]

In [48]:
#Definindo funcao para elementos comuns em listas distintas

def elementos_comuns(lista1, lista2):
    
    lista_comum = []
    for elementoListas in lista1:
        if elementoListas in lista2 and elementoListas not in lista_comum:
            lista_comum.append(elementoListas)
    return(lista_comum, len(lista1), len(lista2))

In [50]:
lista3 = [1, 100, 23, 40, 23, 50, 50, 49, 50]
lista4 = [30, 50, 80, 23, 1, 70, 40, 40, 34, 32, 40, 50]

lista_final, comprimento1, comprimento2 = elementos_comuns(lista3, lista4)
lista_final

[1, 23, 40, 50]

In [52]:
comprimento1 # tamanho da lista

9

### Hora de falar de sets

In [10]:
#como declarar?
amigos_mala = {'Maria', 'Luciana'}

#adicionar novos elementos
amigos_mala.add('Marcos')

#também é possível remover elementos

#vamos mostrar nosso set
print(amigos_mala)

{'Maria', 'Marcos', 'Luciana'}

In [11]:
#adicionar novos elementos
#a posição do novo elemento é aleatória
amigos_mala.add('Marcos')

print(amigos_mala)

{'Maria', 'Marcos', 'Luciana'}

In [12]:
## porque trabalhos com set?

In [13]:
#vamos criar um novo set
amigos_DH = {'Luis', 'Marcos', 'Julia', 'Liz'}

In [18]:
#Amigos exclusivos em ambs sets - Elementos unicos em cada lista
nao_esta_ambos = amigos_mala.symmetric_difference(amigos_DH)
nao_esta_ambos

{'Julia', 'Liz', 'Luciana', 'Luis', 'Maria'}

In [15]:
mala_mas_nao_DH = amigos_mala.difference(amigos_DH)
print (mala_mas_nao_DH)

{'Maria', 'Luciana'}

In [19]:
#intersection - elementos que estao na mesma lista
interseccao = amigos_mala.intersection(amigos_DH)
interseccao

{'Marcos'}

In [17]:
#union
uniao = amigos_mala.union(amigos_DH)
uniao

{'Julia', 'Liz', 'Luciana', 'Luis', 'Marcos', 'Maria'}

In [23]:
# como a operação de listas podem se beneficiar dessas operações
lista=['Julia', 'Liz', 'Luciana', 'Luis', 'Maria', 'Julia', 'Liz', 'Luciana', 'Luis', 'Maria']
lista2=['Julia', 'Liz', 'Luciana2', 'Luis2', 'Maria2']

interseccao_list = list(set(lista).intersection(set(lista2)))
interseccao_list

['Julia', 'Liz']

### Não podemos esquecer de dicionário!!

In [55]:
#como vamos declarar?
friend_ages = {"Rolf": 24, "Adam": 30, "Anne": 27, 'Zé': 24}

In [85]:

# como fazemos para buscar valores em um dicionário?
#print(friend_ages['Zé'])

In [56]:
#como adicionar mais elementos ?
friend_ages['Breno'] = 33
friend_ages

{'Rolf': 24, 'Adam': 30, 'Anne': 27, 'Zé': 24, 'Breno': 33}

In [57]:
#comandos que podem ajudar
#friend_ages.keys()
#friend_ages.values()
#friend_ages.items()

In [58]:
#vamos selecionar todos os amigos com 24 anos?
friend_ages.values()

dict_values([24, 30, 27, 24, 33])

In [89]:
#key, value = friend_ages.popitem()

In [90]:
friend_ages.items()

dict_items([('Rolf', 24), ('Adam', 30), ('Anne', 27), ('Zé', 24), ('Breno', 33)])

In [91]:
len(friend_ages)

5

In [92]:
friend_ages["Rolf"] = 25
print(friend_ages)

{'Rolf': 25, 'Adam': 30, 'Anne': 27, 'Zé': 24, 'Breno': 33}

In [93]:
# pademos converter ums lista de tuples em um dicionário, utilizando o comando dict
friends = [("Rolf", 24), ("Adam", 30), ("Anne", 27)]
friend_ages1 = dict(friends)
print(friend_ages)

{'Rolf': 25, 'Adam': 30, 'Anne': 27, 'Zé': 24, 'Breno': 33}

In [94]:
friend_ages['Rolf']

25

### Vamos de mais um exercício?

1. Vamos trabalhar com o dicionário friend_ages
2. Imprima somente os nomes dos amigos com idade igual ou superior à 25

In [95]:
    friend_ages.keys()

dict_keys(['Rolf', 'Adam', 'Anne', 'Zé', 'Breno'])

In [96]:
friend_ages.values()

dict_values([25, 30, 27, 24, 33])

In [101]:
valor

{'Rolf': 25, 'Adam': 30, 'Anne': 27, 'Zé': 24, 'Breno': 33}

In [78]:
value = [25.0, 30.0, 27.0, 24.0, 33.0]
key = ["Rolf", "Adam", "Anne", "Zé", "Breno"]
friend_amigos = pd.DataFrame({"Nome": key, "Idade": value})
friend_amigos

    Nome  Idade
0   Rolf   25.0
1   Adam   30.0
2   Anne   27.0
3     Zé   24.0
4  Breno   33.0

In [145]:
friend_amigos[friend_amigos["Idade"] >= 25.0]

    Nome  Idade
0   Rolf   25.0
1   Adam   30.0
2   Anne   27.0
4  Breno   33.0

In [151]:
friend_amigos["Idade"].max()

33.0

In [152]:
friend_amigos["Idade"].median()

27.0

In [70]:
#Resolvendo o desafio com uma funcao

def friend_25(dicionario_teste, idade_minima):
    nomes_salvos = []

    nomes = list(dicionario_teste.keys())
    idades = list(dicionario_teste.values())
    
    for i in range(0, len(idades)):
        if idades[i] >= idade_minima:
            nomes_salvos.append(nomes[i])
    return(nomes_salvos)

In [74]:
resultado = friend_25(friend_ages, 25)
resultado

['Adam', 'Anne', 'Breno']

In [79]:
friend_ages = {"Rolf": 24, "Adam": 30, "Anne": 27, 'Zé': 24}

lista = []

for key in  friend_ages:
    if friend_ages[key] >= 25:
        lista.append(key)
lista

['Adam', 'Anne']

### Essa parte é extra para vocês estudarem após a aula

In [ ]:
## Estrutura while e if

import random
lista_teste = random.sample(range(1, 100), 10)

while len(lista_teste) > 5:
    print("A lista atual é:", lista_teste)
    
    user_input = int(input('Digite um número para ser excluído: '))
    
    if user_input in lista_teste:
        lista_teste.remove(user_input)
        
print("Vamos parar por aqui")

In [ ]:
friends = [("Rolf", 25), ("Anne", 37), ("Charlie", 31), ("Bob", 22)]
for name, age in friends:  
    print(f"{name} is {age} years old.")

In [ ]:
cars = ["ok", "ok", "ok", "faulty", "ok", "ok"]

for status in cars:
    if status == "faulty":
        print("Stopping the production line!")
        break

    else:
        print("All cars built successfully. No faulty cars!")