# PRATICA INDEPENDENTE Joins com Pandas.

### Considerando os datframes a seguir, criados a partir de dicionários, atenda aos exercícios.

In [92]:
import pandas as pd

df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'], 
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR'],
                    'absences': [3, 2, 5, 1]
                   }
                  )
#df1

df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'], 
                    'hire_date': [2004, 2008, 2012, 2014]
                   }
                  )
#df2

df3 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'], 
                    'supervisor': ['Carly', 'Guido', 'Steve']
                   }
                  )
#df3

         group supervisor
0   Accounting      Carly
1  Engineering      Guido
2           HR      Steve

#### Exercício 1: Usando a função `.merge()`, obter um dataframe como resultado da intersecão entre `df1` e `df2`.

#### Exercício 2: Calcule também a interseção entre o dataframe criado no exercício anterior e `df3`.

#### Exercício 3: Usando o dataframe `df4` a seguir, gerar um novo dataframe que contenha o resultado dos três anteriores e `df4`.

In [ ]:
df4 = pd.DataFrame({'applier': ['Bob', 'Jake', 'Lisa', 'Sue'], 
                    'position': ['CTO', 'Senior Developer', 'CFO', 'Head of HR']
                   }
                  )
df4

#### Exercício 4: Usar o método [`.drop()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) para eliminar as colunas redundantes.

#### Exercício 5: Agrupe o dataframe do exercício 4 e calcule a contagem de grupos `group` supervisionado por cada supervisor `supervisor`.

#### Exercício 6: Usando os DataFrames a seguir, realizar um `inner`, `outer`, `left` e `right` `join` entre eles. Antes de executar cada `join`, escrever um comentário com a saída esperada.

In [58]:
dfA = pd.DataFrame({"a":[1],
                    "b":[2],
                    "c":[3]
                   }
                  )
dfB = pd.DataFrame({"a":[1, 4],
                    "b":[7, 9],
                    "c":[8, 9]
                   }
                  )