## Rank do Perfil que mais assistiu filmes e series no Netflix

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sbn

In [2]:
data_Dirceu = pd.read_csv('dirceu.csv', ',')

In [3]:
data_Dirceu.head()

                                               Title        Date
0  Star Trek: Discovery: Temporada 1: A faca do a...  01/09/2020
1  Star Trek: Discovery: Temporada 1: Contexto é ...  31/08/2020
2  Star Trek: Discovery: Temporada 1: Batalha das...  31/08/2020
3   Star Trek: Discovery: Temporada 1: O olá vulcano  31/08/2020
4             The OA: Parte 1: Capítulo 1: O retorno  31/08/2020

In [9]:
#Criando uma coluna -  nome/perfil
data_Dirceu['Perfil'] = "Dirceu"
data_Dirceu

                                                 Title        Date  Perfil
0    Star Trek: Discovery: Temporada 1: A faca do a...  01/09/2020  Dirceu
1    Star Trek: Discovery: Temporada 1: Contexto é ...  31/08/2020  Dirceu
2    Star Trek: Discovery: Temporada 1: Batalha das...  31/08/2020  Dirceu
3     Star Trek: Discovery: Temporada 1: O olá vulcano  31/08/2020  Dirceu
4               The OA: Parte 1: Capítulo 1: O retorno  31/08/2020  Dirceu
..                                                 ...         ...     ...
980                                  A bússola de ouro  13/01/2020  Dirceu
981                          Whindersson Nunes: Adulto  13/01/2020  Dirceu
982                 Drácula – A História Nunca Contada  12/01/2020  Dirceu
983  Especial de Natal Porta dos Fundos: A Primeira...  12/01/2020  Dirceu
984                          Titãs: Temporada 1: Titãs  11/01/2020  Dirceu

[985 rows x 3 columns]

In [26]:
print('Quantidade de filmes/series acessados por dia.', '\n')
data_Dirceu.Date.value_counts()

Quantidade de filmes/series acessados por dia.

18/06/2020    17
14/06/2020    15
04/06/2020    15
20/04/2020    14
28/04/2020    13
              ..
26/01/2020     1
28/03/2020     1
01/04/2020     1
08/02/2020     1
11/01/2020     1
Name: Date, Length: 197, dtype: int64

In [28]:
data_Cleide = pd.read_csv('cleide.csv', ',')
data_Cleide

                                                 Title        Date
0                                               O Poço  27/07/2020
1                Nada Ortodoxa: Limited Série: Parte 1  27/07/2020
2                                              365 dni  27/07/2020
3                                 A Barraca do Beijo 2  27/07/2020
4                                   A Barraca do Beijo  26/07/2020
..                                                 ...         ...
162  As Telefonistas: Temporada 1: Capítulo 1: Os s...  08/03/2018
163                                           Malévola  07/03/2018
164                        Gad Elmaleh: American Dream  06/03/2018
165                                    O Melhor de Mim  23/02/2018
166                  Breaking Bad: Temporada 1: Piloto  23/02/2018

[167 rows x 2 columns]

In [29]:
#Criando uma coluna -  nome/perfil
data_Cleide['Perfil'] = "Cleide"
data_Cleide

                                                 Title        Date  Perfil
0                                               O Poço  27/07/2020  Cleide
1                Nada Ortodoxa: Limited Série: Parte 1  27/07/2020  Cleide
2                                              365 dni  27/07/2020  Cleide
3                                 A Barraca do Beijo 2  27/07/2020  Cleide
4                                   A Barraca do Beijo  26/07/2020  Cleide
..                                                 ...         ...     ...
162  As Telefonistas: Temporada 1: Capítulo 1: Os s...  08/03/2018  Cleide
163                                           Malévola  07/03/2018  Cleide
164                        Gad Elmaleh: American Dream  06/03/2018  Cleide
165                                    O Melhor de Mim  23/02/2018  Cleide
166                  Breaking Bad: Temporada 1: Piloto  23/02/2018  Cleide

[167 rows x 3 columns]

In [30]:
data_Renata = pd.read_csv('renata.csv', ',')
data_Renata

                                      Title        Date
0                        Quase uma Rockstar  31/08/2020
1         Good Girls: Temporada 3: Sinergia  31/08/2020
2     Good Girls: Temporada 3: Oportunidade  31/08/2020
3        Good Girls: Temporada 3: Incentivo  30/08/2020
4             Good Girls: Temporada 3: Vovó  30/08/2020
..                                      ...         ...
251  Sex Education: Temporada 2: Episódio 3  21/01/2020
252  Sex Education: Temporada 2: Episódio 2  20/01/2020
253  Sex Education: Temporada 2: Episódio 1  20/01/2020
254  Sex Education: Temporada 1: Episódio 8  19/01/2020
255                              Dois Papas  16/01/2020

[256 rows x 2 columns]

In [31]:
#Criando uma coluna -  nome/perfil
data_Renata['Perfil'] = "Renata"
data_Renata

                                      Title        Date  Perfil
0                        Quase uma Rockstar  31/08/2020  Renata
1         Good Girls: Temporada 3: Sinergia  31/08/2020  Renata
2     Good Girls: Temporada 3: Oportunidade  31/08/2020  Renata
3        Good Girls: Temporada 3: Incentivo  30/08/2020  Renata
4             Good Girls: Temporada 3: Vovó  30/08/2020  Renata
..                                      ...         ...     ...
251  Sex Education: Temporada 2: Episódio 3  21/01/2020  Renata
252  Sex Education: Temporada 2: Episódio 2  20/01/2020  Renata
253  Sex Education: Temporada 2: Episódio 1  20/01/2020  Renata
254  Sex Education: Temporada 1: Episódio 8  19/01/2020  Renata
255                              Dois Papas  16/01/2020  Renata

[256 rows x 3 columns]

In [33]:
data_Paty = pd.read_csv('paty.csv', ',')
data_Paty

                                                 Title        Date
0      A Ordem: Temporada 2: Radicais livres – Parte 2  01/09/2020
1      A Ordem: Temporada 2: Radicais livres – Parte 1  01/09/2020
2               A Ordem: Temporada 1: Finais - Parte 2  31/08/2020
3               A Ordem: Temporada 1: Finais - Parte 1  31/08/2020
4      A Ordem: Temporada 1: Nada a declarar - Parte 2  31/08/2020
..                                                 ...         ...
124       The Witcher: Temporada 1: Desejos reprimidos  20/01/2020
125  The Witcher: Temporada 1: Banquetes, bastardos...  19/01/2020
126           The Witcher: Temporada 1: Lua da traição  16/01/2020
127            The Witcher: Temporada 1: Apenas quatro  14/01/2020
128          The Witcher: Temporada 1: O começo do fim  14/01/2020

[129 rows x 2 columns]

In [34]:
#Criando uma coluna -  nome/perfil
data_Paty['Perfil'] = "Paty"
data_Paty

                                                 Title        Date Perfil
0      A Ordem: Temporada 2: Radicais livres – Parte 2  01/09/2020   Paty
1      A Ordem: Temporada 2: Radicais livres – Parte 1  01/09/2020   Paty
2               A Ordem: Temporada 1: Finais - Parte 2  31/08/2020   Paty
3               A Ordem: Temporada 1: Finais - Parte 1  31/08/2020   Paty
4      A Ordem: Temporada 1: Nada a declarar - Parte 2  31/08/2020   Paty
..                                                 ...         ...    ...
124       The Witcher: Temporada 1: Desejos reprimidos  20/01/2020   Paty
125  The Witcher: Temporada 1: Banquetes, bastardos...  19/01/2020   Paty
126           The Witcher: Temporada 1: Lua da traição  16/01/2020   Paty
127            The Witcher: Temporada 1: Apenas quatro  14/01/2020   Paty
128          The Witcher: Temporada 1: O começo do fim  14/01/2020   Paty

[129 rows x 3 columns]